<%= form_with(url: donations_path, html: { id: "donation-form" },local: true) do |form| %>
  <%= render 'error_messages', donation: form.object %>
  <h1>ユーザー名を入力</h1>
  <div class="field">
    <%= form.label :name, "名前（全角）" %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :name_reading, "フリカナ（全角カタカナ）" %>
    <%= form.text_field :name_reading %>
  </div>
  <div class="field">
    <%= form.label :nickname, "ニックネーム（半角英数）" %>
    <%= form.text_field :nickname %>
  </div>
  <h1>住所を入力</h1>
  <div class="field">
    <%= form.label :postal_code, "郵便番号（ハイフンを含む）" %>
    <%= form.text_field :postal_code %>
  </div>
  <div class="field">
   <%= form.label :prefecture_id, "都道府県" %>
   <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, {} %>
 </div>
  <div class="field">
    <%= form.label :city, "市町村（任意）" %>
    <%= form.text_field :city %>
  </div>
  <div class="field">
    <%= form.label :house_number, "番地（任意）" %>
    <%= form.text_field :house_number %>
  </div>
  <div class="field">
    <%= form.label :building_name, "建物名（任意）" %>
    <%= form.text_field :building_name %>
  </div>

  <h1>寄付金</h1>
  <div class="field">
    <%= form.label :price, "いくら寄付しますか？（1〜1000000円、半角）" %>
    <%= form.text_field :price %>
    <%= "円" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">カード情報</label>
      <span class="indispensable">必須</span>
    </div>
    <%= form.text_field :card_number, class:"input-default", id:"card-number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">有効期限</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-expiration-date-wrap'>
      <%= form.text_area :exp_month, class:"input-expiration-date", id:"card-exp-month", placeholder:"例)3" %>
      月
      <%= form.text_area :exp_year, class:"input-expiration-date", id:"card-exp-year", placeholder:"例)23" %>
      年
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">セキュリティコード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= form.text_field :cvc,class:"input-default", id:"card-cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"4" %>
  </div>
  <div class="actions">
    <%= form.submit "寄付する" , id: "donation_btn"%>
  </div>
<% end %>